# Penguins sex prediction

In [12]:
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('penguins.csv')

In [14]:
df.shape

(344, 7)

In [15]:
df.head(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [16]:
df = df.dropna()

In [17]:
df.shape

(333, 7)

In [18]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['species'] = label_encoder.fit_transform(df['species'])
df['island'] = label_encoder.fit_transform(df['island'])
df['sex'] = label_encoder.fit_transform(df['sex'])

In [8]:
df.head(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
4,0,2,36.7,19.3,193.0,3450.0,0
5,0,2,39.3,20.6,190.0,3650.0,1

In [19]:
from sklearn.model_selection import train_test_split
y = df['sex']
X = df.drop('sex', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
# bootstrap sampling with 5 trees
trees = []
for i in range(5):
    indexs = np.random.choice(len(X_train),size=len(X_train))
    Xi = X_train.iloc[indexs]
    Yi = y_train.iloc[indexs]
    model = DecisionTreeClassifier()
    model.fit(Xi, Yi)
    trees.append(model)

In [92]:
def predict(X_test):    
    pred = np.zeros(len(X_test))
    for model in trees:
            pred=pred + model.predict(X_test)
    return np.round(pred / 5)

In [93]:
def acc(y_true,y_pred):
    return np.mean(y_true==y_pred)

In [94]:
y_pred = predict(X_test)
print('accuracy : ', acc(y_test, y_pred))

accuracy :  0.8805970149253731